@import url('https://fonts.googleapis.com/css?family=Rajdhani:300&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    display: flex;
    justify-content: center;
    background-image: url('images/body-background.gif');
    background-size: 50px; 
    color: #000000;
    font-family: 'Rajdhani', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow:7px 7px 10px #f0ba13;
}

canvas {
    background-image: url('images/hive-background.png');
    background-size: 1380px;
    border: 10px double black;
}


h4 {
    margin: 10px;
    font-weight: 200;
    font-size: 30px;
    text-shadow:7px 7px 7px #f0ba13;
}

h1 {
    margin: 0;
    font-weight: 200;
    text-shadow:7px 7px 10px #f0ba13;
}
.header { 

    
}

.playbutton:hover {
    background-color: #f0ba13;
}

.playbutton {
    font-family: 'Rajdhani', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7em;
    border-radius: 30px;
    border-style: none;
    background-color: #2ca5f5;
    padding: 10px 30px;
    margin-top: 1vh;
    margin-left: 10px;
    margin-right: 10px;
}

p {
    color: #4f6166;
    text-shadow:1px 1px 10px #2ca5f5;

}

.game-over {
    font-size: 10em;
}



